header{
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgb(111, 210, 230);
}

.list{
    text-align: center;
    list-style: none;
}

.list-item{
    border: 1px solid #ccc;
}

.new-thread{
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    background: rgb(121, 237, 224);
}